#real_sidebar {
    background-color: navy;
    color: white;
}

#real_header {
    background-color: navy;
}

.add-button {
    margin-left: 75%;
}

.submit-button {
    margin-left: 500px;
    margin-top: 20px;
}