#real_sidebar {
    background-color: navy;
    color: white;
}

#real_header {
    background-color: navy;
}

.add-button {
    margin-left: 80%;
}
.submit-button {
	margin-left: 800px;
	margin-top: 20px;
}